body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
box-sizing: border-box;
display: flex;
flex-direction: column;
width: 842px;
height: 649px;
background: #E0D4C8;
padding: 24px;
}

.logo{
    font-family: "Akshar", sans-serif;
    font-size: 12px;
    color: black;
    text-transform: capitalize;
    font-weight: 600;
}

h1{
    font-family: "Akshar", sans-serif;
    font-size: 32px;
    color: #656038;
    text-transform: uppercase;
    font-weight: 600;
    align-self: center;
    margin-top: 48px;
    margin-bottom: 0px;
}

.under-title-text{
    font-family: "Fuzzy Bubbles", sans-serif;
    font-size: 14px;
    color: #656038;
    font-weight: 600;
    align-self: center;
    margin-bottom: 70px;
}

.button-container{
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    max-width: 542px;
}

.mood-btn{
    width: 164px;
    height: 38px;
    border: none;
    border-radius: 12px;
    font-family: "Fuzzy Bubbles", sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: white;
}

.icon{
    font-size: 18px;
}
.happy{
    background-color: #DC9EAB;
}
.sad{
    background-color: #AB9EDC;
}
.anxious{
    background-color: #DCB79E;
}
.relaxed{
    background-color: #9EC4DC;
}
.romantic{
    background-color: #DC9ED0;
}
.energetic{
    background-color: #77CB88;
}

.playlist-container{
    align-self: center;
    box-sizing: border-box;
    background-color: #656038;
    width: 542px;
    height: 177px;
    margin-top: 68px;
    border-radius: 12px;
    display: flex;
    padding: 16px 36px 16px 16px;
    gap: 16px;
}

.image-container{
    width: 150px;
    height: 146px;
    background-color: white;
}

.playlist-title{
    font-family: "Akshar", sans-serif;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
}
.now-playing-text{
    font-family: "Fuzzy Bubbles", sans-serif;
    color: white;
    font-weight: 600;
    font-size: 12px;
    margin-top: 6px;
    margin-bottom: 24px;
}

.play-container{
    display: flex;
    height: 25px;
    width: 100%;
    align-items: center;
    gap: 11px;
}

.playlist-text-container{
    flex-grow: 1;
}

.play-buttons-container{
    display: flex;
    align-items: center;
}
.previous-button, .next-button{
    width: 20px;
    height: 20px;
}
.play-button{
    width: 25px;
    height: 25px;
}

.line{
    width: 175px;
}
.timer{
    font-family: "Akshar", sans-serif;
    font-size: 12px;
    color: white;
    font-weight: 600;
}

.footer{
    font-family: "Akshar", sans-serif;
    color: #656038;
    font-weight: 600;
    font-size: 12px;
    align-self: flex-end;
    justify-self: end;
    margin-top: auto;
}